<template>
  <b-row align-h="center" class="mt-5">
    <b-col cols="6">
      <ItemList :deleteIcon="true" />
    </b-col>
  </b-row>
</template>

<script>
import ItemList from "./Item.vue";
export default {
  components: {
    ItemList
  }
};
</script>

<style></style>
