<template>
  <b-row align-h="between">
    <b-col align-self="center" cols="10">
      <b-row>
        <b-col cols="2">
          <b-row>
            <b-col cols="1" v-if="selectIcon">
              <i
                class="material-icons cursor-pointer"
                :class="selectIconClass"
                @click="selectIconEvent()"
              >
                {{
                  selected ? "radio_button_checked" : "radio_button_unchecked"
                }}
              </i>
            </b-col>
            <b-col cols="1" v-if="leftIcon">
              <i
                class="material-icons cursor-pointer"
                :class="leftIconClass"
                @click="leftIconEvent()"
              >
                {{ leftIconName }}
              </i>
            </b-col>
          </b-row>
        </b-col>
        <b-col class="cursor-pointer">
          <b-row @click="selectIconEvent()">
            <p class="mb-1" :class="titleClass">{{ title }}</p>
          </b-row>
        </b-col>
      </b-row>
    </b-col>
    <b-col cols="2">
      <b-row align-h="end">
        <b-col cols="1" v-if="rightIcon_1">
          <b-row>
            <i
              class="material-icons cursor-pointer"
              :class="rightIcon_1Class"
              @click="rightIcon_1Event()"
            >
              {{ rightIcon_1Name }}
            </i>
          </b-row>
        </b-col>
        <b-col cols="1" v-if="rightIcon_2">
          <b-row>
            <i
              class="material-icons cursor-pointer"
              :class="rightIcon_2Class"
              @click="rightIcon_2Event()"
            >
              {{ rightIcon_2Name }}
            </i>
          </b-row>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "item-list",
  data() {
    return {
      selected: true
    };
  },
  props: {
    title: {
      type: String,
      default: "Put your title here !"
    },
    titleClass: {
      type: Array,
      default: () => []
    },
    leftIcon: {
      type: Boolean,
      default: true
    },
    leftIconName: {
      type: String,
      default: "insert_drive_file"
    },
    leftIconClass: {
      type: Array,
      default: () => ["pr-1"]
    },
    selectIcon: {
      type: Boolean,
      default: true
    },
    selectIconClass: {
      type: Array,
      default: () => []
    },
    rightIcon_1: {
      type: Boolean,
      default: false
    },
    rightIcon_1Name: {
      type: String,
      default: "edite"
    },
    rightIcon_1Class: {
      type: Array,
      default: () => []
    },
    rightIcon_2: {
      type: Boolean,
      default: false
    },
    rightIcon_2Name: {
      type: String,
      default: "delete"
    },
    rightIcon_2Class: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    selectIconEvent() {
      this.selected = !this.selected;
      this.$emit("selectedEvent", this.selected);
    },
    leftIconEvent() {
      this.$emit("leftIconEvent");
    },
    rightIcon_1Event() {
      this.$emit("rightIcon_1Event");
    },
    rightIcon_2Event() {
      this.$emit("rightIcon_2Event");
    }
  }
};
</script>

<style>
.cursor-pointer {
  cursor: pointer;
}
</style>
